05___01_Bootcamp___Cadenas_b_sicas.json
{
  "name": "05 - 01 Bootcamp - Cadenas básicas",
  "nodes": [
    {
      "parameters": {
        "inputText": "={{ $json.Comentario }}",
        "options": {
          "categories": "Positive, Neutral, Negative"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1,
      "position": [
        -40,
        -80
      ],
      "id": "380bd305-71c4-49b5-93c0-6ff5af7c803d",
      "name": "Sentiment Analysis"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -20,
        140
      ],
      "id": "fe9a632c-94b2-49a1-8a5d-e630df375c41",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "jjxuoqaTUcC0WLYY",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        -800
      ],
      "id": "9e616f42-9b2f-49a2-9ab8-b708efef76e6",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "content": "# Análisis de sentimiento",
        "height": 500,
        "width": 900,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -300,
        -200
      ],
      "id": "6dd44ed0-6822-43d2-b849-0553e9db1150",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -540,
        -1540
      ],
      "id": "8586f4c8-7962-4ef4-aba8-3fd4a117797b",
      "name": "When chat message received",
      "webhookId": "2376c8e9-9bc2-4cb3-923e-44aa607efb31"
    },
    {
      "parameters": {
        "inputText": "={{ $json.Comentario }}",
        "categories": {
          "categories": [
            {
              "category": "Positivo",
              "description": "Buenos comentarios del producto"
            },
            {
              "category": "Negativo",
              "description": "Malos comentarios del producto"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -20,
        -800
      ],
      "id": "f1bba90a-9faf-479f-a5e9-03a0f15b52fb",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        0,
        -560
      ],
      "id": "03f324d8-8642-47a4-a28f-fc8a05bbc4aa",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "jjxuoqaTUcC0WLYY",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Clasificación de texto",
        "height": 560,
        "width": 760,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -280,
        -920
      ],
      "id": "8126c2e4-45ee-4518-9574-f828ba6b00d8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -220,
        -1540
      ],
      "id": "df047403-8532-4ed4-8010-99ca03c1673c",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama3.2:1b-instruct-q8_0",
        "options": {
          "temperature": 0.1,
          "topK": 10,
          "numPredict": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -220,
        -1320
      ],
      "id": "48c78499-c797-470d-8e1f-721e48f5a5a1",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "Z4a1ATRjuBgdZxKU",
          "name": "Ollama Mac"
        }
      }
    },
    {
      "parameters": {
        "content": "# Inferencia básica",
        "height": 500,
        "width": 1440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -280,
        -1640
      ],
      "id": "a77f44f9-dcf5-4e2a-905e-df3965dafcc8",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "Contesta como pirata de 1920"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        260,
        -1540
      ],
      "id": "d37380eb-7a22-413c-b558-1278009d4a27",
      "name": "Basic LLM Pirata"
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "Contesta como un poeta del siglo de oro español"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        780,
        -1540
      ],
      "id": "8853e92d-37eb-4261-bfb9-430014864aba",
      "name": "Basic LLM Poeta"
    },
    {
      "parameters": {
        "text": "={{ $json.cuento }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n\t\"personajes\": \"California\",\n\t\"tema_general\": \"amor y odio\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        200,
        600
      ],
      "id": "84c65d09-a8e3-40e3-87d6-54b83993c811",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0baae1b9-ac4a-4b69-82eb-7de407f3b71a",
              "name": "cuento",
              "value": "Natalia se metió entre los brazos de su madre y lloró largamente allí con un llanto quedito. Era un llanto aguantado por muchos días, guardado hasta ahora que regresamos a Zenzontla y vio a su madre y comenzó a sentirse con ganas de consuelo.   Sin embargo, antes, entre los trabajos de tantos días difíciles, cuando tuvimos que enterrar a Tanilo en un pozo de la tierra de Talpa, sin que nadie nos ayudara, cuando ella y yo, los dos solos, juntamos nuestras fuerzas y nos pusimos a escarbar la sepultura desenterrando los terrones con nuestras manos -dándonos prisa para esconder pronto a Tanilo dentro del pozo y que no siguiera espantando ya a nadie con el olor de su aire lleno de muerte-, entonces no lloró.   Ni después, al regreso, cuando nos vinimos caminando de noche sin conocer el sosiego, andando a tientas como dormidos y pisando con pasos que parecían golpes sobre la sepultura de Tanilo. En ese entonces, Natalia parecía estar endurecida y traer el corazón apretado para no sentirlo bullir dentro de ella. Pero de sus ojos no salió ninguna lágrima.   Vino a llorar hasta aquí, arrimada a su madre; sólo para acongojarla y que supiera que sufría, acongojándonos de paso a todos, porque yo también sentí ese llanto de ella dentro de mí como si estuviera exprimiendo el trapo de nuestros pecados.   Porque la cosa es que a Tanilo Santos entre Natalia y yo lo matamos. Lo llevamos a Talpa para que se muriera. Y se murió. Sabíamos que no aguantaría tanto camino; pero, así y todo, lo llevamos empujándolo entre los dos, pensando acabar con él para siempre. Eso hicimos.   La idea de ir a Talpa salió de mi hermano Tanilo. A él se le ocurrió primero que a nadie. Desde hacía años que estaba pidiendo que lo llevaran. Desde hacía años. Desde aquel día en que amaneció con unas ampollas moradas repartidas en los brazos y las piernas. Cuando después las ampollas se le convirtieron en llagas por donde no salía nada de sangre y sí una cosa amarilla como goma de copal que destilaba agua espesa. Desde entonces me acuerdo muy bien que nos dijo cuánto miedo sentía de no tener ya remedio. Para eso quería ir a ver a la Virgen de Talpa; para que Ella con su mirada le curara sus llagas. Aunque sabía que Talpa estaba lejos y que tendríamos que caminar mucho debajo del sol de los días y del frío de las noches de marzo, así y todo quería ir. La Virgencita le daría el remedio para aliviarse de aquellas cosas que nunca se secaban. Ella sabía hacer eso: lavar las cosas, ponerlo todo nuevo de nueva cuenta como un campo recién llovido. Ya allí, frente a Ella, se acabarían sus males; nada le dolería ni le volvería a doler más. Eso pensaba él.   Y de eso nos agarramos Natalia y yo para llevarlo. Yo tenía que acompañar a Tanilo porque era mi hermano. Natalia tendría que ir también, de todos modos, porque era su mujer. Tenía que ayudarlo llevándolo del brazo, sopesándolo a la ida y tal vez a la vuelta sobre sus hombros, mientras él arrastrara su esperanza.   Yo ya sabía desde antes lo que había dentro de Natalia. Conocía algo de ella. Sabía, por ejemplo, que sus piernas redondas, duras y calientes como piedras al sol del mediodía, estaban solas desde hacía tiempo. Ya conocía yo eso. Habíamos estado juntos muchas veces; pero siempre la sombra de Tanilo nos separaba: sentíamos que sus manos ampolladas se metían entre nosotros y se llevaban a Natalia para que lo siguiera cuidando. Y así sería siempre mientras él estuviera vivo.   Yo sé ahora que Natalia está arrepentida de lo que pasó. Y yo también lo estoy; pero eso no nos salvará del remordimiento ni nos dará ninguna paz ya nunca. No podrá tranquilizarnos saber que Tanilo se hubiera muerto de todos modos porque ya le tocaba, y que de nada había servido ir a Talpa, tan allá, tan lejos; pues casi es seguro de que se hubiera muerto igual allá que aquí, o quizás tantito después aquí que allá, porque todo lo que se mortificó por el camino, y la sangre que perdió de más, y el coraje y todo, todas esas cosas juntas fueron las que lo mataron más pronto. Lo malo está en que Natalia y yo lo llevamos a empujones, cuando él ya no quería seguir, cuando sintió que era inútil seguir y nos pidió que lo regresáramos. A estirones lo levantábamos del suelo para que siguiera caminando, diciéndole que ya no podíamos volver atrás.   “Está ya más cerca Talpa que Zenzontla.” Eso le decíamos. Pero entonces Talpa estaba todavía lejos; más allá de muchos días.   Lo que queríamos era que se muriera. No está por demás decir que eso era lo que queríamos desde antes de salir de Zenzontla y en cada una de las noches que pasamos en el camino de Talpa. Es algo que no podemos entender ahora; pero entonces era lo que queríamos me acuerdo muy bien.   Me acuerdo de esas noches. Primero nos alumbrábamos con ocotes. Después dejábamos que la ceniza oscureciera la lumbrada y luego buscábamos Natalia y yo la sombra de algo para escondernos de la luz del cielo. Así nos arrimábamos a la soledad del campo, fuera de los ojos de Tanilo y desaparecidos en la noche. Y la soledad aquella nos empujaba uno al otro. A mí me ponía entre los brazos el cuerpo de Natalia y a ella eso le servía de remedio. Sentía como si descansara; se olvidaba de muchas cosas y luego se quedaba adormecida y con el cuerpo sumido en un gran alivio.   Siempre sucedía que la tierra sobre la que dormíamos estaba caliente. Y la carne de Natalia, la esposa de mi hermano Tanilo, se calentaba en seguida con el calor de la tierra. Luego aquellos dos calores juntos quemaban y lo hacían a uno despertar de su sueño. Entonces mis manos iban detrás de ella; iban y venían por encima de ese como rescoldo que era ella; primero suavemente, pero después la apretaban como si quisieran exprimirle la sangre. Así una y otra vez, noche tras noche, hasta que llegaba la madrugada y el viento frío apagaba la lumbre de nuestros cuerpos. Eso hacíamos Natalia y yo a un lado del camino de Talpa, cuando llevamos a Tanilo para que la Virgen lo aliviara.   Ahora todo ha pasado. Tanilo se alivió hasta de vivir. Ya no podrá decir nada del trabajo tan grande que le costaba vivir, teniendo aquel cuerpo como emponzoñado, lleno por dentro de agua podrida que le salía por cada rajadura de sus piernas o de sus brazos. Unas llagas así de grandes, que se abrían despacito, muy despacito, para luego dejar salir a borbotones un aire como de cosa echada a perder que a todos nos tenía asustados.   Pero ahora que está muerto la cosa se ve de otro modo. Ahora Natalia llora por él, tal vez para que él vea, desde donde está, todo el gran remordimiento que lleva encima de su alma. Ella dice que ha sentido la cara de Tanilo estos últimos días. Era lo único que servía de él para ella; la cara de Tanilo, humedecida siempre por el sudor en que lo dejaba el esfuerzo para aguantar sus dolores. La sintió acercándose hasta su boca, escondiéndose entre sus cabellos, pidiéndole, con una voz apenitas, que lo ayudara. Dice que le dijo que ya se había curado por fin; que ya no le molestaba ningún dolor. Ya puedo estar contigo, Natalia. Ayúdame a estar contigo”, dizque eso le dijo.   Acabábamos de salir de Talpa, de dejarlo allí enterrado bien hondo en aquel como surco profundo que hicimos para sepultarlo.   Y Natalia se olvidó de mí desde entonces. Yo sé cómo le brillaban antes los ojos como si fueran charcos alumbrados por la luna. Pero de pronto se destiñeron, se le borró la mirada como si la hubiera revolcado en la tierra. Y pareció no ver ya nada. Todo lo que existía para ella era el Tanilo de ella, que ella había cuidado mientras estuvo vivo y lo había enterrado cuando tuvo que morirse.     Tardamos veinte días en encontrar el camino real de Talpa. Hasta entonces habíamos venido los tres solos. Desde allí comenzamos a juntarnos con gente que salía de todas partes; que había desembocado como nosotros en aquel camino ancho parecido a la corriente de un río, que nos hacía andar a rastras, empujados por todos lados como si nos llevaran amarrados con hebras de polvo. Porque de la tierra se levantaba, con el bullir de la gente, un polvo blanco como tamo de maíz que subía muy alto y volvía a caer; pero los pies al caminar lo devolvían y lo hacían subir de nuevo; así a todas horas estaba aquel polvo por encima y debajo de nosotros. Y arriba de esta tierra estaba el cielo vacío, sin nubes, sólo el polvo; pero el polvo no da ninguna sombra.   Teníamos que esperar a la noche para descansar del sol y de aquella luz blanca del camino.  Luego los días fueron haciéndose más largos. Habíamos salido de Zenzontla a mediados de febrero, y ahora que comenzaba marzo amanecía muy pronto. Apenas si cerrábamos los ojos al oscurecer, cuando nos volvía a despertar el sol el mismo sol que parecía acabarse de poner hacía un rato.   Nunca había sentido que fuera más lenta y violenta la vida como caminar entre un amontonadero de gente; igual que si fuéramos un hervidero de gusanos apelotonados bajo el sol, retorciéndonos entre la cerrazón del polvo que nos encerraba a todos en la misma vereda y nos llevaba como acorralados. Los ojos seguían la polvareda; daban en el polvo como si tropezaran contra algo que no se podía traspasar. Y el cielo siempre gris, como una mancha gris y pesada que nos aplastaba a todos desde arriba. Sólo a veces, cuando cruzábamos algún río, el polvo era más alto y más claro. Zambullíamos la cabeza acalenturada y renegrida en el agua verde, y por un momento de todos nosotros salía un humo azul, parecido al vapor que sale de la boca con el frío. Pero poquito después desaparecíamos otra vez entreverados en el polvo, cobijándonos unos a otros del sol de aquel calor del sol repartido entre todos.   Algún día llegará la noche. En eso pensábamos. Llegará la noche y nos pondremos a descansar. Ahora se trata de cruzar el día, de atravesarlo como sea para correr del calor y del sol. Después nos detendremos. Después. Lo que tenemos que hacer por lo pronto es esfuerzo tras esfuerzo para ir de prisa detrás de tantos como nosotros y delante de otros muchos. De eso se trata. Ya descansaremos bien a bien cuando estemos muertos.   En eso pensábamos Natalia y yo y quizá también Tanilo, cuando íbamos por el camino real de Talpa, entre la procesión; queriendo llegar los primeros hasta la Virgen, antes que se le acabaran los milagros.   Pero Tanilo comenzó a ponerse más malo. Llegó un rato en que ya no quería seguir. La carne de sus pies se había reventado y por la reventazón aquella empezó a salírsele la sangre. Lo cuidamos hasta que se puso bueno. Pero, así y todo, ya no quería seguir:   “Me quedaré aquí sentado un día o dos y luego me volveré a Zenzontla.” Eso nos dijo.   Pero Natalia y yo no quisimos. Había algo dentro de nosotros que no nos dejaba sentir ninguna lástima por ningún Tanilo. Queríamos llegar con él a Talpa, porque a esas alturas, así como estaba, todavía le sobraba vida. Por eso mientras Natalia le enjuagaba los pies con aguardiente para que se le deshincharan, le daba ánimos. Le decía que sólo la Virgen de Talpa lo curaría. Ella era la única que podía hacer que él se aliviara para siempre. Ella nada más. Había otras muchas Vírgenes; pero sólo la de Talpa era la buena. Eso le decía Natalia.  Y entonces Tanilo se ponía a llorar con lágrimas que hacían surco entre el sudor de su cara y después se maldecía por haber sido malo. Natalia le limpiaba los chorretes de lágrimas con su rebozo, y entre ella y yo lo levantábamos del suelo para que caminara otro rato más, antes que llegara la noche.   Así, a tirones, fue como llegamos con él a Talpa.   Ya en los últimos días también nosotros nos sentíamos cansados. Natalia y yo sentíamos que se nos iba doblando el cuerpo entre más y más. Era como si algo nos detuviera y cargara un pesado bulto sobre nosotros. Tanilo se nos caía más seguido y teníamos que levantarlo y a veces llevarlo sobre los hombros. Tal vez de eso estábamos como estábamos: con el cuerpo flojo y lleno de flojera para caminar. Pero la gente que iba allí junto a nosotros nos hacía andar más aprisa.   Por las noches, aquel mundo desbocado se calmaba. Desperdigadas por todas partes brillaban las fogatas y en derredor de la lumbre la gente de la peregrinación rezaba el rosario, con los brazos en cruz, mirando hacia el cielo de Talpa. Y se oía cómo el viento llevaba y traía aquel rumor, revolviéndolo, hasta hacer de él un solo mugido. Poco después todo se quedaba quieto. A eso de la medianoche podía oírse que alguien cantaba muy lejos de nosotros. Luego se cerraban los ojos y se esperaba sin dormir a que amaneciera.     Entramos a Talpa cantando el Alabado. Habíamos salido a mediados de febrero y llegamos a Talpa en los últimos días de marzo, cuando ya mucha gente venía de regreso. Todo se debió a que Tanilo se puso a hacer penitencia. En cuanto se vio rodeado de hombres que llevaban pencas de nopal colgadas como escapulario, él también pensó en llevar las suyas. Dio en amarrarse los pies uno con otro con las mangas de su camisa para que sus pasos se hicieran más desesperados. Después quiso llevar una corona de espinas. Tantito después se vendó los ojos, y más tarde, en los últimos trechos del camino, se hincó en la tierra, y así, andando sobre los huesos de sus rodillas y con las manos cruzadas hacia atrás, llegó a Talpa aquella cosa que era mi hermano Tanilo Santos; aquella cosa tan llena de cataplasmas y de hilos oscuros de sangre que dejaba en el aire, al pasar, un olor agrio como de animal muerto.   Y cuando menos acordamos lo vimos metido entre las danzas. Apenas si nos dimos cuenta y ya estaba allí, con la larga sonaja en la mano, dando duros golpes en el suelo con sus pies amoratados y descalzos. Parecía todo enfurecido, como si estuviera sacudiendo el coraje que llevaba encima desde hacía tiempo; o como si estuviera haciendo un último esfuerzo por conseguir vivir un poco más.   Tal vez al ver las danzas se acordó de cuando iba todos los años a Tolimán, en el novenario del Señor, y bailaba la noche entera hasta que sus huesos se aflojaban, pero sin cansarse. Tal vez de eso se acordó y quiso revivir su antigua fuerza.   Natalia y yo lo vimos así por un momento. En seguida lo vimos alzar los brazos y azotar su cuerpo contra el suelo, todavía con la sonaja repicando entre sus manos salpicadas de sangre. Lo sacamos a rastras, esperando defenderlo de los pisotones de los danzantes; de entre la furia de aquellos pies que rodaban sobre las piedras y brincaban aplastando la tierra sin saber que algo se había caído en medio de ellos.   A horcajadas, como si estuviera tullido, entramos con él en la iglesia. Natalia lo arrodilló junto a ella, enfrentito de aquella figurita dorada que era la Virgen de Talpa. Y Tanilo comenzó a rezar y dejó que se le cayera una lágrima grande, salida de muy adentro, apagándole la vela que Natalia le había puesto entre sus manos. Pero no se dio cuenta de esto; la luminaria de tantas velas prendidas que allí había le cortó esa cosa con la que uno se sabe dar cuenta de lo que pasa junto a uno. Siguió rezando con su vela apagada. Rezando a gritos para oír que rezaba.   Pero no le valió. Se murió de todos modos.   “… Desde nuestros corazones sale para Ella una súplica igual, envuelta en el dolor. Muchas lamentaciones revueltas con esperanza. No se ensordece su ternura ni ante los lamentos ni las lágrimas, pues Ella sufre con nosotros. Ella sabe borrar esa mancha y dejar que el corazón se haga blandito y puro para recibir su misericordia y su caridad. La Virgen nuestra, nuestra madre, que no quiere saber nada de nuestros pecados; que se echa la culpa de nuestros pecados; la que quisiera llevarnos en sus brazos para que no nos lastime la vida, está aquí junto a nosotros, aliviándonos el cansancio y las enfermedades del alma y de nuestro cuerpo ahuatado, herido y suplicante. Ella sabe que cada día nuestra fe es mejor porque está hecha de sacrificios…”   Eso decía el señor cura desde allá arriba del púlpito. Y después que dejó de hablar, la gente se soltó rezando toda al mismo tiempo, con un ruido igual al de muchas avispas espantadas por el humo.   Pero Tanilo ya no oyó lo que había dicho el señor cura. Se había quedado quieto, con la cabeza recargada en sus rodillas. Y cuando Natalia lo movió para que se levantara ya estaba muerto.   Afuera se oía el ruido de las danzas; los tambores y la chirimía; el repique de las campanas. Y entonces fue cuando me dio a mí tristeza. Ver tantas cosas vivas; ver a la Virgen allí, mero enfrente de nosotros dándonos su sonrisa, y ver por el otro lado a Tanilo, como si fuera un estorbo. Me dio tristeza.   Pero nosotros lo llevamos allí para que se muriera, eso es lo que no se me olvida.     Ahora estamos los dos en Zenzontla. Hemos vuelto sin él. Y la madre de Natalia no me ha preguntado nada; ni que hice con mi hermano Tanilo, ni nada. Natalia se ha puesto a llorar sobre sus hombros y le ha contado de esa manera todo lo que pasó.   Y yo comienzo a sentir como si no hubiéramos llegado a ninguna parte, que estamos aquí de paso, para descansar, y que luego seguiremos caminando. No sé para dónde; pero tendremos que seguir, porque aquí estamos muy cerca del remordimiento y del recuerdo de Tanilo.   Quizá hasta empecemos a tenernos miedo uno al otro. Esa cosa de no decirnos nada desde que salimos de Talpa tal vez quiera decir eso. Tal vez los dos tenemos muy cerca el cuerpo de Tanilo, tendido en el petate enrollado; lleno por dentro y por fuera de un hervidero de moscas azules que zumbaban como si fuera un gran ronquido que saliera de la boca de él; de aquella boca que no pudo cerrarse a pesar de los esfuerzos de Natalia y míos, y que parecía querer respirar todavía sin encontrar resuello. De aquel Tanilo a quien ya nada le dolía, pero que estaba como adolorido, con las manos y los pies engarruñados y los ojos muy abiertos como mirando su propia muerte. Y por aquí y por allá todas sus llagas goteando un agua amarilla, llena de aquel olor que se derramaba por todos lados y se sentía en la boca, como si se estuviera saboreando una miel espesa y amarga que se derretía en la sangre de uno a cada bocanada de aire.  Es de eso de lo que quizá nos acordemos aquí más seguido: de aquel Tanilo que nosotros enterramos en el camposanto de Talpa; al que Natalia y yo echamos tierra y piedras encima para que no lo fueran a desenterrar los animales del cerro.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20,
        600
      ],
      "id": "7249261a-dd54-44fb-9dfb-3f5e7e35aecb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        220,
        820
      ],
      "id": "b2015637-41cf-44f2-aade-745ca4bfa8e4",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "jjxuoqaTUcC0WLYY",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -280,
        600
      ],
      "id": "d8bffaad-5a83-4a23-b08b-d22407935176",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "# Extractores",
        "height": 620,
        "width": 960,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        440
      ],
      "id": "94ed0726-476b-4b22-b06d-33f5d86c0f79",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "model": "llama3.2:3b-instruct-fp16",
        "options": {
          "temperature": 0.8,
          "topP": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        280,
        -1320
      ],
      "id": "d564eb98-205c-4151-a591-35b7f337feb1",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "Z4a1ATRjuBgdZxKU",
          "name": "Ollama Mac"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:3b-instruct-fp16",
        "options": {
          "temperature": 0.8,
          "topP": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        800,
        -1300
      ],
      "id": "76a55ecf-b06b-4c9b-8f2d-e49bb6f98938",
      "name": "Ollama Chat Model2",
      "credentials": {
        "ollamaApi": {
          "id": "Z4a1ATRjuBgdZxKU",
          "name": "Ollama Mac"
        }
      }
    }
  ],
  "pinData": {
    "When clicking ‘Test workflow’": [
      {
        "json": {
          "Comentario": "Mala relación calidad-precio.",
          "Clasificación": ""
        }
      },
      {
        "json": {
          "Comentario": "Cumple con lo prometido, aunque sin destacar.",
          "Clasificación": ""
        }
      },
      {
        "json": {
          "Comentario": "No vale lo que cuesta.",
          "Clasificación": ""
        }
      },
      {
        "json": {
          "Comentario": "Excelente calidad por el precio.",
          "Clasificación": ""
        }
      },
      {
        "json": {
          "Comentario": "El servicio fue correcto.",
          "Clasificación": ""
        }
      },
      {
        "json": {
          "Comentario": "Muy fácil de usar.",
          "Clasificación": ""
        }
      },
      {
        "json": {
          "Comentario": "Atención al cliente de primera.",
          "Clasificación": ""
        }
      },
      {
        "json": {
          "Comentario": "Me decepcionó bastante.",
          "Clasificación": ""
        }
      },
      {
        "json": {
          "Comentario": "Perfecto para lo que necesitaba.",
          "Clasificación": ""
        }
      }
    ],
    "Edit Fields": [
      {
        "json": {
          "cuento": "Natalia se metió entre los brazos de su madre y lloró largamente allí con un llanto quedito. Era un llanto aguantado por muchos días, guardado hasta ahora que regresamos a Zenzontla y vio a su madre y comenzó a sentirse con ganas de consuelo.   Sin embargo, antes, entre los trabajos de tantos días difíciles, cuando tuvimos que enterrar a Tanilo en un pozo de la tierra de Talpa, sin que nadie nos ayudara, cuando ella y yo, los dos solos, juntamos nuestras fuerzas y nos pusimos a escarbar la sepultura desenterrando los terrones con nuestras manos -dándonos prisa para esconder pronto a Tanilo dentro del pozo y que no siguiera espantando ya a nadie con el olor de su aire lleno de muerte-, entonces no lloró.   Ni después, al regreso, cuando nos vinimos caminando de noche sin conocer el sosiego, andando a tientas como dormidos y pisando con pasos que parecían golpes sobre la sepultura de Tanilo. En ese entonces, Natalia parecía estar endurecida y traer el corazón apretado para no sentirlo bullir dentro de ella. Pero de sus ojos no salió ninguna lágrima.   Vino a llorar hasta aquí, arrimada a su madre; sólo para acongojarla y que supiera que sufría, acongojándonos de paso a todos, porque yo también sentí ese llanto de ella dentro de mí como si estuviera exprimiendo el trapo de nuestros pecados.   Porque la cosa es que a Tanilo Santos entre Natalia y yo lo matamos. Lo llevamos a Talpa para que se muriera. Y se murió. Sabíamos que no aguantaría tanto camino; pero, así y todo, lo llevamos empujándolo entre los dos, pensando acabar con él para siempre. Eso hicimos.   La idea de ir a Talpa salió de mi hermano Tanilo. A él se le ocurrió primero que a nadie. Desde hacía años que estaba pidiendo que lo llevaran. Desde hacía años. Desde aquel día en que amaneció con unas ampollas moradas repartidas en los brazos y las piernas. Cuando después las ampollas se le convirtieron en llagas por donde no salía nada de sangre y sí una cosa amarilla como goma de copal que destilaba agua espesa. Desde entonces me acuerdo muy bien que nos dijo cuánto miedo sentía de no tener ya remedio. Para eso quería ir a ver a la Virgen de Talpa; para que Ella con su mirada le curara sus llagas. Aunque sabía que Talpa estaba lejos y que tendríamos que caminar mucho debajo del sol de los días y del frío de las noches de marzo, así y todo quería ir. La Virgencita le daría el remedio para aliviarse de aquellas cosas que nunca se secaban. Ella sabía hacer eso: lavar las cosas, ponerlo todo nuevo de nueva cuenta como un campo recién llovido. Ya allí, frente a Ella, se acabarían sus males; nada le dolería ni le volvería a doler más. Eso pensaba él.   Y de eso nos agarramos Natalia y yo para llevarlo. Yo tenía que acompañar a Tanilo porque era mi hermano. Natalia tendría que ir también, de todos modos, porque era su mujer. Tenía que ayudarlo llevándolo del brazo, sopesándolo a la ida y tal vez a la vuelta sobre sus hombros, mientras él arrastrara su esperanza.   Yo ya sabía desde antes lo que había dentro de Natalia. Conocía algo de ella. Sabía, por ejemplo, que sus piernas redondas, duras y calientes como piedras al sol del mediodía, estaban solas desde hacía tiempo. Ya conocía yo eso. Habíamos estado juntos muchas veces; pero siempre la sombra de Tanilo nos separaba: sentíamos que sus manos ampolladas se metían entre nosotros y se llevaban a Natalia para que lo siguiera cuidando. Y así sería siempre mientras él estuviera vivo.   Yo sé ahora que Natalia está arrepentida de lo que pasó. Y yo también lo estoy; pero eso no nos salvará del remordimiento ni nos dará ninguna paz ya nunca. No podrá tranquilizarnos saber que Tanilo se hubiera muerto de todos modos porque ya le tocaba, y que de nada había servido ir a Talpa, tan allá, tan lejos; pues casi es seguro de que se hubiera muerto igual allá que aquí, o quizás tantito después aquí que allá, porque todo lo que se mortificó por el camino, y la sangre que perdió de más, y el coraje y todo, todas esas cosas juntas fueron las que lo mataron más pronto. Lo malo está en que Natalia y yo lo llevamos a empujones, cuando él ya no quería seguir, cuando sintió que era inútil seguir y nos pidió que lo regresáramos. A estirones lo levantábamos del suelo para que siguiera caminando, diciéndole que ya no podíamos volver atrás.   “Está ya más cerca Talpa que Zenzontla.” Eso le decíamos. Pero entonces Talpa estaba todavía lejos; más allá de muchos días.   Lo que queríamos era que se muriera. No está por demás decir que eso era lo que queríamos desde antes de salir de Zenzontla y en cada una de las noches que pasamos en el camino de Talpa. Es algo que no podemos entender ahora; pero entonces era lo que queríamos me acuerdo muy bien.   Me acuerdo de esas noches. Primero nos alumbrábamos con ocotes. Después dejábamos que la ceniza oscureciera la lumbrada y luego buscábamos Natalia y yo la sombra de algo para escondernos de la luz del cielo. Así nos arrimábamos a la soledad del campo, fuera de los ojos de Tanilo y desaparecidos en la noche. Y la soledad aquella nos empujaba uno al otro. A mí me ponía entre los brazos el cuerpo de Natalia y a ella eso le servía de remedio. Sentía como si descansara; se olvidaba de muchas cosas y luego se quedaba adormecida y con el cuerpo sumido en un gran alivio.   Siempre sucedía que la tierra sobre la que dormíamos estaba caliente. Y la carne de Natalia, la esposa de mi hermano Tanilo, se calentaba en seguida con el calor de la tierra. Luego aquellos dos calores juntos quemaban y lo hacían a uno despertar de su sueño. Entonces mis manos iban detrás de ella; iban y venían por encima de ese como rescoldo que era ella; primero suavemente, pero después la apretaban como si quisieran exprimirle la sangre. Así una y otra vez, noche tras noche, hasta que llegaba la madrugada y el viento frío apagaba la lumbre de nuestros cuerpos. Eso hacíamos Natalia y yo a un lado del camino de Talpa, cuando llevamos a Tanilo para que la Virgen lo aliviara.   Ahora todo ha pasado. Tanilo se alivió hasta de vivir. Ya no podrá decir nada del trabajo tan grande que le costaba vivir, teniendo aquel cuerpo como emponzoñado, lleno por dentro de agua podrida que le salía por cada rajadura de sus piernas o de sus brazos. Unas llagas así de grandes, que se abrían despacito, muy despacito, para luego dejar salir a borbotones un aire como de cosa echada a perder que a todos nos tenía asustados.   Pero ahora que está muerto la cosa se ve de otro modo. Ahora Natalia llora por él, tal vez para que él vea, desde donde está, todo el gran remordimiento que lleva encima de su alma. Ella dice que ha sentido la cara de Tanilo estos últimos días. Era lo único que servía de él para ella; la cara de Tanilo, humedecida siempre por el sudor en que lo dejaba el esfuerzo para aguantar sus dolores. La sintió acercándose hasta su boca, escondiéndose entre sus cabellos, pidiéndole, con una voz apenitas, que lo ayudara. Dice que le dijo que ya se había curado por fin; que ya no le molestaba ningún dolor. Ya puedo estar contigo, Natalia. Ayúdame a estar contigo”, dizque eso le dijo.   Acabábamos de salir de Talpa, de dejarlo allí enterrado bien hondo en aquel como surco profundo que hicimos para sepultarlo.   Y Natalia se olvidó de mí desde entonces. Yo sé cómo le brillaban antes los ojos como si fueran charcos alumbrados por la luna. Pero de pronto se destiñeron, se le borró la mirada como si la hubiera revolcado en la tierra. Y pareció no ver ya nada. Todo lo que existía para ella era el Tanilo de ella, que ella había cuidado mientras estuvo vivo y lo había enterrado cuando tuvo que morirse.     Tardamos veinte días en encontrar el camino real de Talpa. Hasta entonces habíamos venido los tres solos. Desde allí comenzamos a juntarnos con gente que salía de todas partes; que había desembocado como nosotros en aquel camino ancho parecido a la corriente de un río, que nos hacía andar a rastras, empujados por todos lados como si nos llevaran amarrados con hebras de polvo. Porque de la tierra se levantaba, con el bullir de la gente, un polvo blanco como tamo de maíz que subía muy alto y volvía a caer; pero los pies al caminar lo devolvían y lo hacían subir de nuevo; así a todas horas estaba aquel polvo por encima y debajo de nosotros. Y arriba de esta tierra estaba el cielo vacío, sin nubes, sólo el polvo; pero el polvo no da ninguna sombra.   Teníamos que esperar a la noche para descansar del sol y de aquella luz blanca del camino.  Luego los días fueron haciéndose más largos. Habíamos salido de Zenzontla a mediados de febrero, y ahora que comenzaba marzo amanecía muy pronto. Apenas si cerrábamos los ojos al oscurecer, cuando nos volvía a despertar el sol el mismo sol que parecía acabarse de poner hacía un rato.   Nunca había sentido que fuera más lenta y violenta la vida como caminar entre un amontonadero de gente; igual que si fuéramos un hervidero de gusanos apelotonados bajo el sol, retorciéndonos entre la cerrazón del polvo que nos encerraba a todos en la misma vereda y nos llevaba como acorralados. Los ojos seguían la polvareda; daban en el polvo como si tropezaran contra algo que no se podía traspasar. Y el cielo siempre gris, como una mancha gris y pesada que nos aplastaba a todos desde arriba. Sólo a veces, cuando cruzábamos algún río, el polvo era más alto y más claro. Zambullíamos la cabeza acalenturada y renegrida en el agua verde, y por un momento de todos nosotros salía un humo azul, parecido al vapor que sale de la boca con el frío. Pero poquito después desaparecíamos otra vez entreverados en el polvo, cobijándonos unos a otros del sol de aquel calor del sol repartido entre todos.   Algún día llegará la noche. En eso pensábamos. Llegará la noche y nos pondremos a descansar. Ahora se trata de cruzar el día, de atravesarlo como sea para correr del calor y del sol. Después nos detendremos. Después. Lo que tenemos que hacer por lo pronto es esfuerzo tras esfuerzo para ir de prisa detrás de tantos como nosotros y delante de otros muchos. De eso se trata. Ya descansaremos bien a bien cuando estemos muertos.   En eso pensábamos Natalia y yo y quizá también Tanilo, cuando íbamos por el camino real de Talpa, entre la procesión; queriendo llegar los primeros hasta la Virgen, antes que se le acabaran los milagros.   Pero Tanilo comenzó a ponerse más malo. Llegó un rato en que ya no quería seguir. La carne de sus pies se había reventado y por la reventazón aquella empezó a salírsele la sangre. Lo cuidamos hasta que se puso bueno. Pero, así y todo, ya no quería seguir:   “Me quedaré aquí sentado un día o dos y luego me volveré a Zenzontla.” Eso nos dijo.   Pero Natalia y yo no quisimos. Había algo dentro de nosotros que no nos dejaba sentir ninguna lástima por ningún Tanilo. Queríamos llegar con él a Talpa, porque a esas alturas, así como estaba, todavía le sobraba vida. Por eso mientras Natalia le enjuagaba los pies con aguardiente para que se le deshincharan, le daba ánimos. Le decía que sólo la Virgen de Talpa lo curaría. Ella era la única que podía hacer que él se aliviara para siempre. Ella nada más. Había otras muchas Vírgenes; pero sólo la de Talpa era la buena. Eso le decía Natalia.  Y entonces Tanilo se ponía a llorar con lágrimas que hacían surco entre el sudor de su cara y después se maldecía por haber sido malo. Natalia le limpiaba los chorretes de lágrimas con su rebozo, y entre ella y yo lo levantábamos del suelo para que caminara otro rato más, antes que llegara la noche.   Así, a tirones, fue como llegamos con él a Talpa.   Ya en los últimos días también nosotros nos sentíamos cansados. Natalia y yo sentíamos que se nos iba doblando el cuerpo entre más y más. Era como si algo nos detuviera y cargara un pesado bulto sobre nosotros. Tanilo se nos caía más seguido y teníamos que levantarlo y a veces llevarlo sobre los hombros. Tal vez de eso estábamos como estábamos: con el cuerpo flojo y lleno de flojera para caminar. Pero la gente que iba allí junto a nosotros nos hacía andar más aprisa.   Por las noches, aquel mundo desbocado se calmaba. Desperdigadas por todas partes brillaban las fogatas y en derredor de la lumbre la gente de la peregrinación rezaba el rosario, con los brazos en cruz, mirando hacia el cielo de Talpa. Y se oía cómo el viento llevaba y traía aquel rumor, revolviéndolo, hasta hacer de él un solo mugido. Poco después todo se quedaba quieto. A eso de la medianoche podía oírse que alguien cantaba muy lejos de nosotros. Luego se cerraban los ojos y se esperaba sin dormir a que amaneciera.     Entramos a Talpa cantando el Alabado. Habíamos salido a mediados de febrero y llegamos a Talpa en los últimos días de marzo, cuando ya mucha gente venía de regreso. Todo se debió a que Tanilo se puso a hacer penitencia. En cuanto se vio rodeado de hombres que llevaban pencas de nopal colgadas como escapulario, él también pensó en llevar las suyas. Dio en amarrarse los pies uno con otro con las mangas de su camisa para que sus pasos se hicieran más desesperados. Después quiso llevar una corona de espinas. Tantito después se vendó los ojos, y más tarde, en los últimos trechos del camino, se hincó en la tierra, y así, andando sobre los huesos de sus rodillas y con las manos cruzadas hacia atrás, llegó a Talpa aquella cosa que era mi hermano Tanilo Santos; aquella cosa tan llena de cataplasmas y de hilos oscuros de sangre que dejaba en el aire, al pasar, un olor agrio como de animal muerto.   Y cuando menos acordamos lo vimos metido entre las danzas. Apenas si nos dimos cuenta y ya estaba allí, con la larga sonaja en la mano, dando duros golpes en el suelo con sus pies amoratados y descalzos. Parecía todo enfurecido, como si estuviera sacudiendo el coraje que llevaba encima desde hacía tiempo; o como si estuviera haciendo un último esfuerzo por conseguir vivir un poco más.   Tal vez al ver las danzas se acordó de cuando iba todos los años a Tolimán, en el novenario del Señor, y bailaba la noche entera hasta que sus huesos se aflojaban, pero sin cansarse. Tal vez de eso se acordó y quiso revivir su antigua fuerza.   Natalia y yo lo vimos así por un momento. En seguida lo vimos alzar los brazos y azotar su cuerpo contra el suelo, todavía con la sonaja repicando entre sus manos salpicadas de sangre. Lo sacamos a rastras, esperando defenderlo de los pisotones de los danzantes; de entre la furia de aquellos pies que rodaban sobre las piedras y brincaban aplastando la tierra sin saber que algo se había caído en medio de ellos.   A horcajadas, como si estuviera tullido, entramos con él en la iglesia. Natalia lo arrodilló junto a ella, enfrentito de aquella figurita dorada que era la Virgen de Talpa. Y Tanilo comenzó a rezar y dejó que se le cayera una lágrima grande, salida de muy adentro, apagándole la vela que Natalia le había puesto entre sus manos. Pero no se dio cuenta de esto; la luminaria de tantas velas prendidas que allí había le cortó esa cosa con la que uno se sabe dar cuenta de lo que pasa junto a uno. Siguió rezando con su vela apagada. Rezando a gritos para oír que rezaba.   Pero no le valió. Se murió de todos modos.   “… Desde nuestros corazones sale para Ella una súplica igual, envuelta en el dolor. Muchas lamentaciones revueltas con esperanza. No se ensordece su ternura ni ante los lamentos ni las lágrimas, pues Ella sufre con nosotros. Ella sabe borrar esa mancha y dejar que el corazón se haga blandito y puro para recibir su misericordia y su caridad. La Virgen nuestra, nuestra madre, que no quiere saber nada de nuestros pecados; que se echa la culpa de nuestros pecados; la que quisiera llevarnos en sus brazos para que no nos lastime la vida, está aquí junto a nosotros, aliviándonos el cansancio y las enfermedades del alma y de nuestro cuerpo ahuatado, herido y suplicante. Ella sabe que cada día nuestra fe es mejor porque está hecha de sacrificios…”   Eso decía el señor cura desde allá arriba del púlpito. Y después que dejó de hablar, la gente se soltó rezando toda al mismo tiempo, con un ruido igual al de muchas avispas espantadas por el humo.   Pero Tanilo ya no oyó lo que había dicho el señor cura. Se había quedado quieto, con la cabeza recargada en sus rodillas. Y cuando Natalia lo movió para que se levantara ya estaba muerto.   Afuera se oía el ruido de las danzas; los tambores y la chirimía; el repique de las campanas. Y entonces fue cuando me dio a mí tristeza. Ver tantas cosas vivas; ver a la Virgen allí, mero enfrente de nosotros dándonos su sonrisa, y ver por el otro lado a Tanilo, como si fuera un estorbo. Me dio tristeza.   Pero nosotros lo llevamos allí para que se muriera, eso es lo que no se me olvida.     Ahora estamos los dos en Zenzontla. Hemos vuelto sin él. Y la madre de Natalia no me ha preguntado nada; ni que hice con mi hermano Tanilo, ni nada. Natalia se ha puesto a llorar sobre sus hombros y le ha contado de esa manera todo lo que pasó.   Y yo comienzo a sentir como si no hubiéramos llegado a ninguna parte, que estamos aquí de paso, para descansar, y que luego seguiremos caminando. No sé para dónde; pero tendremos que seguir, porque aquí estamos muy cerca del remordimiento y del recuerdo de Tanilo.   Quizá hasta empecemos a tenernos miedo uno al otro. Esa cosa de no decirnos nada desde que salimos de Talpa tal vez quiera decir eso. Tal vez los dos tenemos muy cerca el cuerpo de Tanilo, tendido en el petate enrollado; lleno por dentro y por fuera de un hervidero de moscas azules que zumbaban como si fuera un gran ronquido que saliera de la boca de él; de aquella boca que no pudo cerrarse a pesar de los esfuerzos de Natalia y míos, y que parecía querer respirar todavía sin encontrar resuello. De aquel Tanilo a quien ya nada le dolía, pero que estaba como adolorido, con las manos y los pies engarruñados y los ojos muy abiertos como mirando su propia muerte. Y por aquí y por allá todas sus llagas goteando un agua amarilla, llena de aquel olor que se derramaba por todos lados y se sentía en la boca, como si se estuviera saboreando una miel espesa y amarga que se derretía en la sangre de uno a cada bocanada de aire.  Es de eso de lo que quizá nos acordemos aquí más seguido: de aquel Tanilo que nosotros enterramos en el camposanto de Talpa; al que Natalia y yo echamos tierra y piedras encima para que no lo fueran a desenterrar los animales del cerro."
        }
      }
    ]
  },
  "connections": {
    "Sentiment Analysis": {
      "main": [
        []
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Pirata",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Poeta",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ed6122cc-94dd-4992-9096-1f3f53b014a3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe237e8ff26b3030396fb689f924a8f67458a4a39d6ba7e8d88a0bc43fe3c711"
  },
  "id": "9TNYXl1YH12YCKsU",
  "tags": [
    {
      "createdAt": "2025-04-04T05:23:15.175Z",
      "updatedAt": "2025-04-04T05:23:15.175Z",
      "id": "IuzKLgzYQxgBOMHF",
      "name": "learning"
    },
    {
      "createdAt": "2025-03-18T02:52:18.459Z",
      "updatedAt": "2025-03-18T02:52:18.459Z",
      "id": "ePOQUjp83hBcq3Ht",
      "name": "bootcamp"
    }
  ]
}